

1. What exactly is []?

Ans:
[] is empty list of any variable that is declared.



2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Ans:

In [1]:
spam = [2,4,6,8,10]

#assignment of value 'hello' as third value.
spam[2]= 'hello'
spam

[2, 4, 'hello', 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [2]:
spam = ['a','b', 'c', 'd']



3. What is the value of spam[int(int('3' * 2) / 11)]?

In [3]:
spam[int(int('3'*2)/11)]

'd'


Ans:
    the value of spam[int(int('3' * 2) / 11)] is 'd'.
    3 is given as string ('3') hence '3'*2 = '33' and int('33') becomes numberical 33.
    then 33/11 = 3.
    here spam[3] is 'd'. hence trhe answer is 'd'



4. What is the value of spam[-1]?

Ans:
    value of spam[-1] is last iterable of spam hence the answer is 'd'.
    the value of spam[-1] is 'd'



5. What is the value of spam[:2]?

Ans:
    the value of spam[:2] would be ['a', 'b']
    i.e., index spam 0 to 2, hence spam[0], spam[1] is the answer.

In [5]:
spam[:2]

['a', 'b']



Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [ ]:
#note : in above provided list bacon, 'cat' was provided as 'cat,' (invalid syntax error)
# however same has been rectified as below list.

In [8]:
bacon = [3.14, 'cat', 11, 'cat', True]



6. What is the value of bacon.index('cat')?

Ans:
    the value of bacon.index('cat') would be [1] as the program will only consider first occurence of 'cat'.

In [10]:
bacon.index('cat')

1



7. How does bacon.append(99) change the look of the list value in bacon?

Ans:
    the append() operation would add 99 into the list by adding at the end of list index.
    the lenght of the list will increase from 5 to 6

In [12]:
bacon.append(99)

In [14]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]



8. How does bacon.remove('cat') change the look of the list in bacon?

Ans:
    the remove() function will remove the 'cat' from the list, noteably removes only the first occurence of 'cat' that is found in the list.

In [15]:
bacon.remove('cat')

In [16]:
bacon

[3.14, 11, 'cat', True, 99]



9. What are the list concatenation and list replication operators?

Ans:
    + is the list concatenation operator, 
    * is the list replication operator (replication of times to be given in numerical values)

In [18]:
list1 = ["kumar", "Mani"]
list2 = ["best friends", 'forever']
#concatenation operation
list3 = list1 + list2

list3

['kumar', 'Mani', 'best friends', 'forever']

In [24]:
#multiplication operation
list4 = list1*2
list4

['kumar', 'Mani', 'kumar', 'Mani']



10. What is difference between the list methods append() and insert()?

Ans:
    append() function adds the value into the list at last position.
    insert() function inserts the value into specified index of the list.

In [29]:
l = [0,1,2,3,4,5]
l.append("append operation")
l

[0, 1, 2, 3, 4, 5, 'append operation']

In [30]:
l.insert(3, 'insert operation')
l

[0, 1, 2, 'insert operation', 3, 4, 5, 'append operation']



11. What are the two methods for removing items from a list?

Ans:
    the items in list can be removed using inbuild pop() function of list (removes last element of list).
    also remove() function can be used to remove the specified item on list.
    del() also can be used to delete the items based on the index number.

In [42]:
l =[0, 4, 1,3,1, 2,4, 'insert operation', 3, 4, 5, 'append operation']

# using pop() function to remove last element.
l.pop()
l

[0, 4, 1, 3, 1, 2, 4, 'insert operation', 3, 4, 5]

In [43]:
# using remove() function to removed specified element(only the first occurence would be removed)
l.remove(1)
l

[0, 4, 3, 1, 2, 4, 'insert operation', 3, 4, 5]

In [44]:
#using del() function to delete the items based on index
del l[6]
l

[0, 4, 3, 1, 2, 4, 3, 4, 5]



12. Describe how list values and string values are identical.

Ans:
    both list values and string values are identical as both are mutables, can be sliced, concatenated, replicated and assign new elements at specified index. Also length can be identified using len() function on both.



13. What's the difference between tuples and lists?
Ans:
    lists elements are mutable while tuple elements are immutable.
    tuples represented in () while list represented in []



14. How do you type a tuple value that only contains the integer 42?

Ans: 
    the integer 42 has to be typed followed by comma , else the python would take the tuple as normal variable declaration.

In [46]:
tuple1= (42,)
type(tuple1)

tuple



15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Ans:
the list can be converted into tuple using tuple() function and the tuple can be converted into list using list() function.

In [50]:
tuple1 =(42,45,22)
converted_list = list(tuple1)
type(converted_list)

list



16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans:
    They contain references to list values



17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans:
    The copy.copy() function will do a shallow copy of a list.
    The copy.deepcopy() function will do a deep copy of a list and copy.deepcopy() will
duplicate any lists inside the list