## For Loop

**Total questions: 15**  
**Solved         : 15**  
**Unsolved       : 0**

In [1]:
#questions (time = 2:30:00)
#1. have to print 'ineuron'1 * 4
#2. ineuron into triangle.(square)
"""l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),
{'k1':"sudh","k2":"ineuron", "k3":"kumar",3:6,7:8}, ["ineuron","data science"]]"""

'l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),\n{\'k1\':"sudh","k2":"ineuron", "k3":"kumar",3:6,7:8}, ["ineuron","data science"]]'

In [ ]:
#3. try to extract all the list entities
#4. try to extract all the dict entities
#5. try to extract all the tuple entities
#6. try to extract all the numerical data it may be part of dict key and values
#7. try to givn summation of all the numerical data
#8. try to filter out all the odd values out all numeric data which is a part of a list
#9. try to extract 'ineuron' out of this data
#10.try to find out a number of occurences of all the data
#11.try to find out number of key in dict element
#12.try to filter out all the string data
#13.try to find out alphanum in data
#14.try to find out multiplication of all the individual collections dataset
#15.try to unwrap all the collection inside collection and create a flattered list

**1. have to print 'ineuron'1^4**

In [19]:
text = input('Enter the text:')
num = int(input('Enter how many times the text shoul be appeared : '))
print('\n')

x =1
for i in range(num):
    for i in range(x):
        print(text, end =' ')
    x +=1
    print()

Enter the text:iNeuron
Enter how many times the text shoul be appeared : 4


iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron

**#2. ineuron into triangle.(square)**

In [31]:
t = 'iNeuron'
n = 5
k = n-1
length = len(t)

for i in range(n):
   
    print(" "*((length*k)-i), end =' ')
    for j in range(i):
        print(t, end = " ")
    k -=1
    print()

                     iNeuron
             iNeuron iNeuron
     iNeuron iNeuron iNeuron
 iNeuron iNeuron iNeuron iNeuron

In [36]:
t = 'iNeuron'
n = 5
k = n-1
sp = n*k
length = len(t)

for i in range(n):
   
    print(" "*(sp-i), end =' ')
    sp = sp-k
    for j in range(i):
        print(t, end = " ")
    k -=1
    print()

                iNeuron
            iNeuron iNeuron
         iNeuron iNeuron iNeuron
       iNeuron iNeuron iNeuron iNeuron

In [37]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]),
{'k1':"sudh","k2":"ineuron", "k3":"kumar",3:6,7:8}, ["ineuron","data science"]]

In [41]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

**3. try to extract all the list entities**

In [53]:
#  using 'for' and 'if' statements
ans = []
ans2 = []

for i in l:
    if type(i)== list:
        ans.extend(i)
        ans2.append(i)
print(ans)
print(ans2)

[1, 2, 3, 4, 'ineuron', 'data science']
[[1, 2, 3, 4], ['ineuron', 'data science']]

In [54]:
#  using 'isinstance' module
ans = []
ans2 = []

for i in l:
    if isinstance(i, list):
        ans.extend(i)
        ans2.append(i)
print(ans)
print(ans2)

[1, 2, 3, 4, 'ineuron', 'data science']
[[1, 2, 3, 4], ['ineuron', 'data science']]

**4. try to extract all the dict entities**

In [63]:
#  using 'for' and 'if' statements
ans = []

for i in l:
    if type(i)== dict:
        ans.extend(i)
        ans.extend(i.values())
print(ans)

['k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8]

In [75]:
#  using 'for' and 'if' statements
ans = []

for i in l:
    if type(i)== dict:
        for x,y in i.items():
            print(x,':',y)
            ans.append(x)
            ans.append(y)
print("\n",ans)

k1 : sudh
k2 : ineuron
k3 : kumar
3 : 6
7 : 8

 ['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

**5. try to extract all the tuple entities**

In [64]:
ans = []

for i in l:
    if type(i)== tuple:
        ans.extend(i)
        
print(ans)

[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]

**6. try to extract all the numerical data it may be part of dict key and values**

In [96]:
ans = []

for i in l:
    if type(i) == dict :
        for x, y in i.items():
            if type(x) == int:
                ans.append(x)
            if type(y) == int:
                ans.append(y)
                 
print("numerical values part of dictionary", ans)

numerical values part of dictionary [3, 6, 7, 8]

In [97]:
num_all = []
for i in l:
    if type(i)== list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) ==int:
                num_all.append(j)
    elif type(i)== dict:
        for x, y in i.items():
            if type(x)== int:
                num_all.append(x)
            if type(y)== int:
                num_all.append(y)
print(num_all)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

**7. try to givn summation of all the numerical data**

In [95]:
summ = 0
for i in l:
    if type(i)== list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j) ==int:
                summ = summ + j
    elif type(i)== dict:
        for x, y in i.items():
            if type(x)== int:
                summ = summ + x
            if type(y)== int:
                summ = summ + y

print("\nsum of all numerical data is : ",summ)

sum of all numerical data is :  156

In [98]:
sum(num_all)

156

**8. try to filter out all the odd values out all numeric data which is a part of a list**

In [100]:
odd_num = []
for i in num_all:
    if i%2!=0:
        odd_num.append(i)
        
print(odd_num)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

**9. try to extract 'ineuron' out of this data**

In [101]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [104]:
ineu = []
for i in l:
    if type(i)== list or type(i)==set or type(i)== tuple:
        for j in i:
            if j == 'ineuron':
                ineu.append(j)
    if type(i)== dict:
        for x, y in i.items():
            if x =='ineuron':
                ineu.append(x)
            if y == 'ineuron':
                ineu.append(y)

print("\n", ineu)

 ['ineuron', 'ineuron']

**10.try to find out a number of occurences of all the data**

In [151]:
all_ele = []
for i in l:
    if type(i)== list or type(i)==set or type(i)== tuple:
        for j in i:
            all_ele.append(j)
    if type(i)== dict:
        for x, y in i.items():
            all_ele.append(x)
            all_ele.append(y)
#print("list of all elements in 'l'\n", all_ele, "\n")

uniq = set(all_ele)
#print("uniq values :", uniq, "\n")

ele_cnt = {}
for i in uniq:
    cnt = 0
    for j in all_ele:
        if j == i:
            cnt +=1
    ele_cnt[i]=cnt
    print(f"'{i}' occured '{cnt}' times")
print("\n \nElement and count into dictionary: \n", ele_cnt)

'sudh' occured '1' times
'1' occured '1' times
'2' occured '2' times
'3' occured '4' times
'4' occured '4' times
'5' occured '3' times
'6' occured '3' times
'7' occured '2' times
'k2' occured '1' times
'ineuron' occured '2' times
'kumar' occured '1' times
'8' occured '1' times
'45' occured '1' times
'data science' occured '1' times
'k3' occured '1' times
'23' occured '1' times
'k1' occured '1' times


Element and count into dictionary:
 {'sudh': 1, 1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 3, 7: 2, 'k2': 1, 'ineuron': 2, 'kumar': 1, 8: 1, 45: 1, 'data science': 1, 'k3': 1, 23: 1, 'k1': 1}

**11.try to find out number of key in dict element**

In [152]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [171]:
kys = []
kys_cnt = 0
for i in l:
    if type(i) == dict:
        for x in i.keys():
            kys.append(x)
            kys_cnt+=1
print("count of all keys in list is ",kys_cnt)

count of all keys in list is  5

In [168]:
kys

['k1', 'k2', 'k3', 3, 7]

**12.try to filter out all the string data**

In [176]:
all_str = []

for i in l:
    if type(i)== list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j) == str:
                all_str.append(j)
    
    if type(i) == dict:
        for x, y in i.items():
            if type(x)== str:
                all_str.append(x)
            if type(y)== str:
                all_str.append(y)
                
print("all strings in data \n",all_str)

all strings in data
 ['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

**13.try to find out alphanum in data**

In [184]:
for i in all_ele:
    if type(i)== str:
        if i.isalnum:
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

**14.try to find out multiplication of all the individual collections dataset**

In [187]:


for i in l:
    multi = 1
    if type(i)== list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                multi = j * multi
        print(f"For collection {i}, the multiplication of all element is : {multi}")

For collection [1, 2, 3, 4], the multiplication of all element is : 24
For collection (2, 3, 4, 5, 6), the multiplication of all element is : 720
For collection (3, 4, 5, 6, 7), the multiplication of all element is : 2520
For collection {45, 4, 5, 23}, the multiplication of all element is : 20700
For collection ['ineuron', 'data science'], the multiplication of all element is : 1

**15.try to unwrap all the collection inside collection and create a flattered list**

In [188]:
all_ele = []
for i in l:
    if type(i)== list or type(i)==set or type(i)== tuple:
        for j in i:
            all_ele.append(j)
    if type(i)== dict:
        for x, y in i.items():
            all_ele.append(x)
            all_ele.append(y)
print("flattered list", all_ele)

flattered list [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']